.ter_toolbar {
    display: flex;
    gap: 16px;
}

.ter_toolbar > div {
    display: flex;
    gap: 8px;
    align-items: center;
}

.ter_toolbar button {
    width: 36px;
    height: 36px;
    padding: 6px;
    background-color: #f0f0f0;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: none;
    object-fit: contain;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button img {
    width: 24px;
    height: 24px;
}

.ter_toolbar button:hover {
    background-color: #e0e0e0;
}

.ter_toolbar button:disabled img {
    opacity: 0.5;
    filter: grayscale(100%);
    cursor: not-allowed;
}
